@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700;900&display=swap');
 /* font-family: 'Exo', sans-serif; */

 * {
     font-family: 'Exo', sans-serif;
     color: white;
     margin: 0;
 }


 .hero {
     background-color: black;
     background-image: url('/assets/images/home-bg-sun.png');
     background-position-x: center;
     background-position-y: -100px;
     background-repeat: no-repeat;
     background-size: 100%;
 }

.container {
    padding-top: 200px;
    margin-left: 60px;
    margin-right: 60px;
}

#logo {
    max-width: 100%;
    margin: auto;
    display: block;
}

#books {
    display: none;
}

.headline {
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.02em;
margin-top: -20px;
margin-bottom: 20px;

}

.text-wrap {
    display: block;
    margin-right: 160px;
}

.first-paragraph {
    color: #FF6A00;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 14px;
    font-variant: small-caps;
    font-size: 14px;
}