@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;700;900&display=swap');
 /* font-family: 'Exo', sans-serif; */

 * {
     font-family: 'Exo', sans-serif;
     color: white;
     margin: 0;
 }

.strong {
    font-weight: 700;
}

body {
    background-color: black;
    
}

 .hero {
     background-image: url('/assets/images/home-bg-sun.png'), url('/assets/images/home-bg-books.png');
     background-position-x: -70px, -70px;
     background-position-y: -90px, 15px;
     background-repeat: no-repeat;
     background-size: 125%, 200%;
 }

.logo-container {
     padding-top: 150px;
}

.container {
    padding-top: 20px;
    margin-left: 12.6666666%;
    margin-right: 23%;
}

#logo {
    max-width: 95%;
    margin: auto;
    display: block;
}


.headline {
font-style: normal;
font-weight: 300;
font-size: 1em;
line-height: 1.1em;
text-align: center;
letter-spacing: 2%;
margin-top: -25px;
margin-bottom: 40px;
margin-left: 17%;
margin-right: 17%;

}

.text-wrap {
    display: block;
}

.first-paragraph {
    color: #FF6A00;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 18px;
    font-size: 1em;
    text-transform: capitalize;
    letter-spacing: 2%;
    line-height: 1.3em;
}

.second-paragraph {
    color: #fff;
    font-weight: 400;
    text-align: left;
    display: block;
    margin-bottom: 14px;
    font-size: 0.9em;
    line-height: 1.6em;
    letter-spacing: 2%;

}

.third-paragraph {
    color: #fff;
    font-weight: 400;
    text-align: left;
    display: block;
    margin-bottom: 40px;
    font-size: 0.85em;
    padding-top: 20px;
    letter-spacing: 2%;
}

.date-btn {
    opacity: 0.85;
    background-color: #248450;
    box-shadow: 20px 20px 10px 10px rgba(0, 0, 0, 0.25) inset;
    border-radius: 4px;
    padding: 0.3em 2em 0.3em 2em;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 900;
    text-transform: uppercase;
}

.text-cta {
    color: #fff;
    font-weight: 300;
    text-align: left;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 0.8em;
    padding-top: 20px;
    letter-spacing: 2%;
    word-break: break-word;
}
label {
    display: block;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 0.8em;
    font-weight: 300;
}

input {
    background-color: rgba(196, 196, 196, 0.1);
    border-radius: 4px;
    border: 1px solid #5C5C5C;
    display: inline-block;
    width: 95%;
    padding-top: 9px;
    padding-bottom: 9px;

}
::placeholder{
    color: #747474;
    opacity: 0.9;
    padding-left: 5px;
    font-size: 0.8em;
}

.main-form {
    font-size: 1em;
    display: block;
}

.btn-cta {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 70%;
    border-style: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(207,91,8,1) 0%, rgba(229,156,10,1) 81%, rgba(238,182,11,1) 100%);
    cursor: pointer;
}

.form-wrap{
padding-bottom: 140px;
}



@media screen and (min-width: 1280px) {

    .hero {
        background-color: #20201D;
        background-image: url('/assets/images/home-bg-man.png'), url('/assets/images/home-bg-books-1.png');
        background-position-x: 400px, -150px;
        background-position-y: 200px, 50px;
        background-repeat: no-repeat;
        background-size: 80%, 60%;
            }
 
            
            .logo-container {
                padding-top: 20px;
                align-items: center;
           }
           
           .container {
               padding-top: 20px;
               margin-left: 35.3%;
               margin-right: 35.3%;
           }
           
           #logo {
               max-width: 50%;
               margin-left: 25.2%;
               margin-right: 30.2%;
               display: block;
           }
           
           
           .headline {
           font-style: normal;
           font-weight: bold;
           font-size: 1.2em;
           line-height: 1.1em;
           text-align: center;
           letter-spacing: 2%;
           margin-top: -45px;
           margin-bottom: 40px;
           margin-left: 30.2%;
           margin-right: 30.2%;
           
           }
           
           .text-wrap {
               display: block;
           }
           
           .first-paragraph {
               color: #FF6A00;
               font-weight: bold;
               text-align: left;
               display: block;
               margin-bottom: 18px;
               font-size: 1.25em;
               text-transform: capitalize;
               letter-spacing: 0.02em;
               line-height: 1.3em;
           }
           
           .second-paragraph {
               color: #fff;
               font-weight: 400;
               text-align: left;
               display: block;
               margin-bottom: 14px;
               font-size: 1.15em;
               line-height: 1.2em;
               letter-spacing: 0.02em;

           
           }
           
           .third-paragraph {
               color: #fff;
               font-weight: 400;
               text-align: left;
               display: block;
               margin-bottom: 40px;
               font-size: 1.15em;
               padding-top: 20px;
               letter-spacing: 0.02em;
           }
           
           .date-btn {
               opacity: 0.85;
               background-color: #248450;
               box-shadow: 20px 20px 10px 10px rgba(0, 0, 0, 0.25) inset;
               border-radius: 4px;
               padding: 0.5em 1.5em 0.5em 1.5em;
               margin-bottom: 40px;
               display: inline-block;
               font-size: 1.2em;
               font-weight: 900;
               text-transform: uppercase;
               margin-left: 15%;
               margin-right: 15%;
               display: flex;
               justify-content: center;
           }
           
           .text-cta {
               color: #fff;
               font-weight: 300;
               text-align: center;
               display: inline-block;
               margin-bottom: 40px;
               font-size: 1.1em;
               padding-top: 20px;
               letter-spacing: 0.02em;
               word-break: break-word;
               

           }
           label {
               display: block;
               margin-left: 14.4%;
               margin-top: 7px;
               margin-bottom: 5px;
               font-size: 0.8em;
               font-weight: 300;
           }
           
           input {
               background-color: rgba(196, 196, 196, 0.1);
               border-radius: 4px;
               border: 1px solid #5C5C5C;
               display: block;
               width: 70%;
               padding-top: 9px;
               padding-bottom: 9px;
               margin: auto;
               
           
           }
           ::placeholder{
               color: #747474;
               opacity: 0.9;
               padding-left: 5px;
               font-size: 0.8em;
           }
           
           .main-form {
               font-size: 1em;
               display: block;
           }
           
           .btn-cta {
               text-transform: uppercase;
               font-size: 0.7em;
               font-weight: 900;
               letter-spacing: 0.2em;
               margin: auto;
               margin-top: 20px;
               padding-top: 10px;
               padding-bottom: 5px;
               width: 55%;
               border-style: none;
               background: linear-gradient(90deg, rgba(207,91,8,1) 0%, rgba(229,156,10,1) 81%, rgba(238,182,11,1) 100%);
               display: flex;
               justify-content: center;
           }
           
           .form-wrap{
           padding-bottom: 140px;
           }
    
 }

 @media screen and (min-width: 1920px) {

    #logo {
        max-width: 50%;
        margin-left: 28.2%;
        margin-right: 30.2%;
        display: block;
    }

    .container {
        padding-top: 20px;
        margin-left: 38.3%;
        margin-right: 38.3%;
 }
    .strongline {
        display: block;
    }
    .text-cta{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-cta {
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 0.8em;
    }
}

@media screen and (min-width: 2560px) {

    #logo {
        max-width: 50%;
        margin-left: 32.5%;
        margin-right: 30.2%;
        padding-top: 100px;
    }

    .container {
        padding-top: 20px;
        margin-left: 40.3%;
        margin-right: 40.3%;
    }

    .headline{
        letter-spacing: 0.05em;
    }
  
    .form-wrap{
        padding-bottom: 230px;
        }

    .hero {
        background-position-x: 1000px, -150px;
        background-size: 65%, 50%;
    }

}